@media (max-width: 768px) {
  .dashboard-content {
    padding: 15px;
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.dashboard-content {
  padding: 20px;
  overflow-y: auto;
  margin-top: 60px;
}

.modal{
  z-index: 3000;
}

.emergency-icon {
  background: #ffcc00; /* Bright orange, suitable for an emergency icon */ /*#f73030*/
  box-shadow: 0 6px 14px rgba(37, 211, 102, 0.15);
  color: white;
  animation: flicker 1s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}