
.faq-card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.modal {
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.modal-header {
    border-bottom: 1px solid #888;
    padding: 10px;
}

.modal-footer {
    border-top: 1px solid #888;
    padding: 10px;
}

.modal-title {
    font-weight: bold;
    font-size: 24px;
}

.modal-body {
    font-size: 18px;
}
