.message-card {
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    width: 100%;
    position: relative;
    background-color: #133628;
    color: white;
}

.message-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message-card .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    border: none;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    color: red;
}

.message-card .delete-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.message-card .delete-button i {
    color: #fff;
}

.message-modal {
    display: none;
    position: fixed;
    z-index: 1200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.message-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 700PX;
}

.message-modal-content h2 {
    margin-top: 0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}