/* Navbar Styles */
.navbar {
  padding: 0.5rem 1rem;
  background-color: #0f2b2a;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: left;
  }

  .nav-link {
    padding: 0.5rem 1rem;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .navbar {
    flex-direction: row;
  }

  .navbar-nav {
    flex-direction: row;
  }
}
