.navbar {
    background: white;
    height: 70px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    z-index: 900;
}

.navbar-brand {
    color: var(--primary-color);
}

.nav-link {
    color: #64748b !important;
    padding: 8px 12px !important;
    border-radius: 8px;
    transition: 0.2s;
}

.nav-link:hover {
    background: #f1f5f9;
    color: var(--primary-color) !important;
}

/* User Avatar Dropdown */
.dropdown-menu {
    border: none;
    box-shadow: var(--hover-shadow);
    border-radius: 12px;
    padding: 8px;
    z-index:3000
}

.dropdown-item {
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 0.9rem;
}

.dropdown-item:hover {
    background: #f0fdfa; /* Light teal bg */
    color: var(--primary-color);
}