.profile-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 650px;
    width: 100%;
}

.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #086e36;
    margin-top: -75px; /* Pulls image up over the header */
}

.profile-header {
    background: linear-gradient(135deg, #1fb8a1, #0f2b2a);
    height: 150px;
    border-radius: 15px 15px 0 0;
}

#verificationTokenModal {
   
    margin: 0 auto;
}