.projects-section {
    background: white;
    padding: 80px 0;

}

.projects-section h2 {
  font-size: 3rem;
  font-weight: 800;
  background: #179e8a;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
  text-align: center;
}

.project-card {
    background: white;
    border: 1px solid #f1f5f9;
    border-radius: 24px;
    box-shadow: var(--card-shadow);
    overflow: hidden;
    transition: var(--transition-smooth);
    max-width: 1000px;
    backdrop-filter: blur(10px);
    margin: 0 auto;
}

.project-card:hover {
    box-shadow: var(--hover-shadow);
}

/* Carousel Polish */
.project-img-container {
    max-height: 400px;
    background: #f8fafc;
}

.project-carousel img {
    height: 100%;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

/* Content */
.project-content {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-size: 2rem;
    color: var(--dark-text);
    margin-bottom: 8px;
}

.project-place {
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
    margin-bottom: 24px;
}

.btn-review {
    background: #fffbeb; /* Light yellow */
    color: #b45309;
    border: 1px solid #fcd34d;
}

.btn-review:hover {
    background: #fcd34d;
    color: #78350f;
}