.service-carousel {
  max-width: 600px;
  margin: 0 auto;
  max-height: 400px;
  contain: content;
}

img{
  max-height: 400px;
  width: 100%;
  object-fit: contain;
}

.service-description {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
}